<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQs Page - Lenslocked</title>
</head>
<body>
<h1>FAQs Page</h1>
<ul>
    <li><b>Is there a free version?</b>Yes! We offer a free trial for 30 days on any paid plans.</li>
    <li><b>What are your support hours?</b>We have support staff answering emails 24/7, though response times may be a bit slower on weekends.</li>
    <li><b>How do I contact support?</b>Email me - <a href="mailto:alexandergaruba96@gmail.com">alexandergaruba96@gmail.com</a>
    </li>
</ul>
</body>
</html>